<label >server name</label>

<!--<input type="text" class="formcontrol" (input)="onupdateservername($event)">-->




<input type="text" class="formcontrol" [(ngModel)]="servername">
<!--<p>{{servername}}</p>-->




<button class="btn-primary" [disabled]="!allownewserver" (click)= "oncreateserver()">Add server  </button>
<!--<p>{{servercreationstatus}}</p>-->
<!--<p *ngIf="servercreated; else noserver">server was created, is {{servername}} </p>-->
<app-server *ngFor="let server of servers"></app-server>
<app-server></app-server>
